.course, .teacher {
    .text {
        margin-top: 20px;
    }

    .facts {
        div {
            margin-top: 5px;
            overflow: hidden;

            .label {
                display: block;
                margin-bottom: 2px;
            }
        }
    }

    .pager {
        margin-bottom: 0;
    }

    .pager li > a, .pager li > span {
        border: none;
        color: #333333;
        padding-left: 0;
    }
}