$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
$fb-blue: #3b5998;
$latech-blue: #0052CC;

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Lato";
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.navbar-bossboss {
    margin-top: 5px;
    margin-bottom: 0;
    background-color: #FFF;
    border-radius: 0;
    border-color: #FFF;

}

.nav > li {
    margin-left: 10px;
}

.navbar-nav > li > a.btn-facebook {
    background-color: $fb-blue;
    color: #FFF;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-right: 14px;
    padding-bottom: 8px;
    padding-top: 8px;


    &:hover {
        background-color: $fb-blue;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        color: #FFF;
    }
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: inherit;
    background-color: inherit;
    border-bottom: 2px solid $latech-blue;

}

.drawer {

    &.mobile {
        position: absolute;
        right: 0;
        min-width: 60px;
        z-index: 9999;

        .drawer-handle {
            cursor: pointer;
        }
    }

    .courses {
        margin-bottom: 200px;
    }

    .btn-class-picker {
        border: 0;
        padding: 0;
        background-color: transparent;
    }

    .btn-show-calendar {
        margin-top: 15px;
    }

    .class {
        cursor: pointer;
    }
}

.max {
    min-height: 100%;
}

.param {
    width: 100%;
}

.main-container {
    width: 90.333333%;
}

.select2-container {
    margin-top: 5px;
}

.no-top-margin {
    margin-top: 0;
}

.indicator {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 2%;
}

.col-add-course {
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.classes-col {
    margin-top: 20px;
    margin-bottom: 100px;

    .class {
        margin-bottom: 10px;

        // &:hover {
        //     background-color: #DDDDDD;
        // }
    }
}

.hr-class-divider {
    margin-top: 0;
    margin-bottom: 0;
}

.course {
    margin-bottom: 10px;
}

.class-header {
    margin-bottom: 5px;
}

.class-labels {
    margin-top: 5px;
}

.results {
    .class, .teacher {

        margin-bottom: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        &:hover {
            background-color: #DDDDDD;
        }
    }

    .course-chevron {
        margin-top: 25px;
    }

    .bb-add-course {
        padding-left: 0;
    }
}

.label-danger {
    background-color: #F2660F;
}

.backdrop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

.no-results-row {
    margin-top: 20px;
}

.compare-course-header {
    margin-bottom: 10px;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .results {
        .bb-add-course {
            padding-left: 15px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-container {
        // col-md-8 col-lg-8,
        width: 66.6666666667%;
    }
    .classes-col {
        margin-top: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}




.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}