
.fade-in-out.ng-move,
.fade-in-out.ng-enter,
.fade-in-out.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms;
}


.fade-in-out.ng-leave.ng-leave-active,
.fade-in-out.ng-move,
.fade-in-out.ng-enter {
    opacity: 0;
}

.fade-in-out.ng-leave,
.fade-in-out.ng-move.ng-move-active,
.fade-in-out.ng-enter.ng-enter-active {
  opacity: 1;
}