.navbar-bb {
  background-color: #009BCC;
  border-color: #e7e7e7;
  border: none;
  border-radius: 0;
}

.navbar-bb .navbar-brand {
    padding-left: 50px;
    font-size: 30px;
    color: #E7E7E7;
}

.navbar-bb .navbar-brand:hover,
.navbar-bb .navbar-brand:focus {
  color: #FFF;
  background-color: transparent;
}

.navbar-bb .navbar-text {
  color: #E7E7E7;
}

.navbar-bb .navbar-nav > li > a {
  color: #E7E7E7;
}

.navbar-bb .navbar-nav > li > a:hover,
.navbar-bb .navbar-nav > li > a:focus {
  color: #FFF;
  background-color: transparent;
}

.navbar-bb .navbar-nav > .active > a,
.navbar-bb .navbar-nav > .active > a:hover,
.navbar-bb .navbar-nav > .active > a:focus {
  color: #E7E7E7;
  background-color: #12B3E7;
}

.navbar-bb .navbar-nav > .disabled > a,
.navbar-bb .navbar-nav > .disabled > a:hover,
.navbar-bb .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-bb .navbar-toggle {
  border-color: #dddddd;
}

.navbar-bb .navbar-toggle:hover,
.navbar-bb .navbar-toggle:focus {
  background-color: #00B4CC;
}

.navbar-bb .navbar-toggle .icon-bar {
  background-color: #cccccc;
}

.navbar-bb .navbar-collapse,
.navbar-bb .navbar-form {
  border-color: #e7e7e7;
}

.navbar-bb .navbar-nav > .open > a,
.navbar-bb .navbar-nav > .open > a:hover,
.navbar-bb .navbar-nav > .open > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar-bb .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  .navbar-bb .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-bb .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  .navbar-bb .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-bb .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-bb .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  .navbar-bb .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-bb .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-bb .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}

.navbar-bb .navbar-link {
  color: #777777;
}

.navbar-bb .navbar-link:hover {
  color: #333333;
}

html, body {
    height: 100%;
}









/*.main-container {
    margin: 0;
    height: 90%;
}*/


.selected-courses-container {
    height: 100%;
    border-left: 2px solid #009BCC;
    overflow: auto;
}

.selected-courses-container > header {
    font-size: 2em;
}

.selected-courses {
    list-style: none;
    padding-left: 0;
}

.selected-course {
    margin-top: 5px;
    padding-top: 5px;
    cursor: pointer;
}

.selected-course:hover {
    background-color: rgb(253, 184, 184);
}

.minus-sign {
    margin-top: 2px;
    width: 16px;
    height: 16px;
    border-radius: 15px;
    background-color: rgb(250, 150, 150);
    color: #E7E7E7;
}

.minus-sign:hover {
    background-color: red;
    color: #FFF;
}

.minus-sign .main-minus-fix {
    position:absolute;
    top: 12%;
    left: 50%;
}

.clear-all-btn {
    margin-top: 18px;
}

.choose-schedule-btn {
    margin-top: 2px;
    width: 100%;
}

.ajax-loader > img {
    margin: 10px auto;
    display: block;
}

.search-header > h3 {
    margin-top: 5px;
}


.plus-sign-container {
    padding-right: 5px;
    max-width: 60px;
    padding-left: 30px;
}

.plus-sign {
    width: 30px;
    height: 30px;
    color: #E7E7E7;
    background-color: rgb(80, 189, 80);
    border-radius: 15px;
    margin: 10px -4px;
    margin-top: 6px;
}

.plus-sign:hover {
    color: #FFF;
    background-color: rgb(4, 199, 4);
    margin-top: 5px;

}

.plus-sign > span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -9px 0 0 5px;
}







.course-result {
    width: 102%;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 6px;
    cursor: pointer;
    /*border: 1px solid red;*/
}

.course-result:hover {
    background-color: rgb(219, 255, 222);
}

.course-results-container {
    margin-top: 2%;
    overflow: auto;
}

.desc-text {
    width: 100%;
}

.desc-text > span {
    font-size: 0.8em;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.btn-super {
    width: 100%;
    height: 60px;
}




@media (max-width: 1200px) {

    .main-container {
        margin: 0;
        /*height: 100%;*/
    }


    .selected-courses-container {
        height: 40%;
        /*border-right: 3px solid gray;*/
        border: none;
        margin-top: 5%;
    }

    .plus-sign > span {
        margin: -8px 0 0 -3px;
    }

    .plus-sign-container {
        padding-left: 20px;
    }


}