

.calendar-container {
    height: 400px;
    max-height: 500px;
}


.class-info {
    border-right: 1px solid #0052CC;
    border-left: 1px solid #0052CC;
    text-align: center;
}

.class-choice-container {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.class-selected,
.class-info:hover {
    background-color: #B3D2FF;
}

.call-num-container {
    border-left: 2px solid #0052CC;
}

.done-btn-container {
    margin-top: 10px;
    margin-bottom: 30px;
}

.select-title {
    margin-top: 10px;
}

.select-classes-container {
    margin-top: 15px;
}