<div class="row">
    <div class="col-xs-12">
        <h3>About Boss'Boss</h3>

        <p>Boss'Boss is a helpful scheduling tool for LaTech students, which tries to be a better interface for <a href="http://boss.latech.edu">B.O.S.S</a>.</p>

        <p>It features a search bar with filters for finding interesting classes, along with a weekly schedule preview so you can see how your week looks.</p>

        <p>You can also connect Facebook to sync your schedule accross devices and compare your schedule with Facebook friends.</p>

        <p>It was also not made circa 1990.</p>

        <hr>

        <p>The code is available on <a href="https://github.com/Shrugs/BossBoss">GitHub</a>.</p>

        <p>Boss'Boss was written by <a href="http://matt.cond.in">Matt Condon</a>. Hit me up on <a href="https://www.facebook.com/condonmatt">Facebook</a> or <a href="https://twitter.com/mattgcondon">Twitter</a>!</p>

    </div>
</div>


