<div class="row max">
    <div class="col-xs-1 hidden-md hidden-lg drawer-handle" ng-click="toggle()">
        <div class="row">
            <span class="glyphicon glyphicon-chevron-left hidden-md hidden-lg" ng-hide="drawerState" ng-style="{top: chevronHeight}"></span>
            <span class="glyphicon glyphicon-chevron-right hidden-md hidden-lg" ng-show="drawerState" ng-style="{top: chevronHeight}"></span>
        </div>
    </div>
    <div class="col-xs-10 col-md-12" ng-show="drawerState">
        <h3 class="text-center no-top-margin">Course Cart</h3>
        <div class="row" ng-repeat="course in data.courses">
            {{state.courses}}
        </div>
    </div>
</div>
