<div class="row max">
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 drawer-handle" ng-click="toggle()">
        <span class="glyphicon glyphicon-chevron-left hidden-md hidden-lg" ng-hide="drawerState" ng-style="{top: chevronHeight}"></span>
        <span class="glyphicon glyphicon-chevron-right hidden-md hidden-lg" ng-show="drawerState" ng-style="{top: chevronHeight}"></span>
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11" ng-show="drawerState">
        <h3 class="text-center">Course Cart</h3>
    </div>
</div>
