<div class="row max">
    <div class="col-xs-1 hidden-md hidden-lg drawer-handle" ng-click="toggle()">
        <div class="row">
            <span class="glyphicon glyphicon-chevron-left hidden-md hidden-lg" ng-hide="drawerState" ng-style="{top: chevronHeight, right: '-25px'}"></span>
            <span class="glyphicon glyphicon-chevron-right hidden-md hidden-lg" ng-show="drawerState" ng-style="{top: chevronHeight, right: '-25px'}"></span>
        </div>
    </div>
    <div class="col-xs-10 col-md-12 courses" ng-show="drawerState">
        <h3 class="text-center no-top-margin">Course Cart</h3>
        <div class="row course" ng-repeat="course in state.cart">
            <!-- COUSE -->
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>{{courses[course.id].name}}</h5>
                                <h5 ng-if="!courses[course.id].name">Loading...</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-sm-3">
                                <span class="label label-info">{{courses[course.id].code}}</span>
                            </div>
                            <div class="col-xs-4 col-sm-3">
                                <span class="label label-warning" ng-if="courses[course.id].credits.exactly">{{courses[course.id].credits.exactly}} Credits</span>
                                <span class="label label-warning" ng-if="courses[course.id].credits.min && courses[course.id].credits.max">{{courses[course.id].credits.min}} - {{courses[course.id].credits.max}} Credits</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="row">
                            <div bb-remove-course class="col-xs-6 col-remove-course" ng-click="removeCourse($index)">

                            </div>
                        </div>
                    </div>
                </div>
                <!-- CLASS -->
                <div class="row" ng-if="course.class">
                    <div class="col-xs-8 col-xs-offset-2">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5>{{courses[course.id].code}}-<span class="label label-info">{{classes[course.id][course.class.id].section}}</span></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5 col-sm-4">
                                <span class="label label-success">{{classes[course.id][course.class.id].teacher_name}}</span>
                            </div>
                            <div class="col-xs-7 col-sm-6">
                                <span class="label label-danger">{{classes[course.id][course.class.id].times | times}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <span bb-class-picker classes="classes[course.id]" on-choice="chooseClass"></span>
                    </div>
                </div>
                <div class="row" ng-if="!course.class">
                    <div class="col-xs-10 col-xs-offset-2">
                        <span bb-class-picker classes="classes[course.id]"></span>
                        <span>Choose a Class</span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="state.cart.length === 0" class="row">
            <div class="col-xs-12 text-muted text-center"><span>No Courses in Cart</span></div>
        </div>
    </div>
</div>
