<div class="row course">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <ul class="pager no-top-margin">
                    <li class="previous"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span>Browse</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <!-- INFO -->
            <div class="col-xs-12 col-md-8 col-md-push-4">
                <div class="row">
                    <!-- TITLE -->
                    <div class="col-xs-12">
                        <h2 class="text-center no-top-margin">{{course.name}}</h2>
                    </div>
                </div>
                <!-- FACTS -->
                <div class="row facts">
                <!-- code, credits, notes, subject -->
                    <div class="col-xs-6 col-sm-3 text-center">
                        <span class="label label-primary">{{course.department_name}}</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">
                        <span class="label label-info">{{course.subject_name}}</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">
                        <span class="label label-success">{{course.code}}</span>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">
                        <span class="label label-warning" ng-if="course.credits.exactly">{{course.credits.exactly}} Credits</span>
                        <span class="label label-warning" ng-if="course.credits.min && course.credits.max">{{course.credits.min}} - {{course.credits.max}} Credits</span>
                    </div>
                </div>

                <!-- TEXT -->
                <div class="row text">
                    <div class="col-xs-12">
                        <p>{{course.desc}}</p>
                        <p ng-hide="course.desc" class="text-muted text-center">No Description provided.</p>
                        <p class="text-muted">{{course.notes}}</p>
                    </div>
                </div>
            </div>

            <!-- CLASSES -->
            <div class="col-xs-12 col-md-4 col-md-pull-8">
                <h3 class="no-top-margin text-center">Classes</h3>
                <p ng-if="course.classes.length === 0" class="text-muted text-center text">No available classes.</p>
                <div class="row class" ng-repeat="class in course.classes">
                    <div class="col-xs-2">
                        <div class="row">
                            <div bb-add-course status="{{class.seats_status}}" class="col-xs-6 col-xs-offset-6 col-add-course" ng-click="addClass($index)">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="class-header">{{course.code}}-{{class.section}}</h5>
                            </div>
                        </div>
                        <div class="row class-labels">
                            <div class="col-xs-12">
                                <span class="label label-info">{{class.building_name}}</span>-<span class="label label-primary">{{class.room_name}}</span>
                            </div>
                        </div>
                        <div class="row class-labels">
                            <div class="col-xs-5">
                                <span class="label label-success">{{class.teacher_name}}</span>
                            </div>
                            <div class="col-xs-7">
                                <span class="label label-danger">{{class.times | times}}</span>
                            </div>
                        </div>
                        <div class="row class-labels">
                            <div class="col-xs-4">
                                <span class="label label-default">{{class.callnum}}</span>
                            </div>
                            <div ng-if="class.is_www" class="col-xs-4">
                                <span class="label label-warning">Online</span>
                            </div>
                            <div ng-if="class.is_credit_exam" class="col-xs-4">
                                <span class="label label-warning">Credit Exam</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <hr class="hr-class-divider">
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>