<!-- @TODO(Shrugs) add padding to left and right and try not to mess up the cascade -->
<div class="row">
    <div class="col-xs-11">
        <div class="row">
            <!-- SEARCH -->
            <div class="form-group col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="searchParams.q" debounce="500" placeholder="'scuba', 'ENGR-122'">
                    <div class="input-group-btn">
                        <button class="btn btn-default" ng-click="shouldFilter = !shouldFilter">
                        <span class="glyphicon glyphicon-chevron-down" ng-hide="shouldFilter"></span>
                        <span class="glyphicon glyphicon-chevron-up" ng-show="shouldFilter"></span>
                        Filter</button>
                    </div>
                </div>
              </div>
        </div>
        <div class="row" ng-show="shouldFilter">
            <!-- SUBJECTS -->
            <div class="col-xs-6 col-sm-4">
                <select ui-select2 ng-model="searchParams.subjects" class="param" data-placeholder="Subject" multiple>
                    <option ng-repeat="opt in params.subjects" ng-value="opt.id">{{opt.name}}</option>
                </select>
            </div>
            <!-- CAMPUSES -->
            <div class="col-xs-6 col-sm-4">
                <select ui-select2 ng-model="searchParams.campuses" class="param" data-placeholder="Campus" multiple>
                    <option ng-repeat="opt in params.campuses" ng-value="opt.id">{{opt.name}}</option>
                </select>
            </div>
            <!-- TEACHERS -->
            <div class="col-xs-6 col-sm-4">
                <select ui-select2 ng-model="searchParams.teachers" class="param" data-placeholder="Teacher" multiple>
                    <option ng-repeat="opt in params.teachers" ng-value="opt.id">{{opt.name}}</option>
                </select>
            </div>
            <!-- DEPTS -->
            <div class="col-xs-6 col-sm-4">
                <select ui-select2 ng-model="searchParams.depts" class="param" data-placeholder="Depts" multiple>
                    <option ng-repeat="opt in params.depts" ng-value="opt.id">{{opt.name}}</option>
                </select>
            </div>
            <!-- BUILDINGS+ROOMS -->
            <div class="col-xs-12 col-sm-8">
                <div class="row">
                    <!-- BUILDINGS -->
                    <select ui-select2 ng-model="searchParams.buildings" class="col-xs-6" data-placeholder="Building" multiple>
                        <option ng-repeat="opt in params.buildings" ng-value="opt.id">{{opt.name}}</option>
                    </select>
                    <!-- ROOMS -->
                    <select ui-select2 ng-model="searchParams.rooms" class="col-xs-6" data-placeholder="Room" multiple ng-disabled="possibleRooms.length === 0">
                        <option ng-repeat="opt in possibleRooms" ng-value="opt.id">{{opt.building_name}} - {{opt.name}}</option>
                    </select>
                </div>
            </div>
            <!-- TERMS -->
            <div class="col-xs-6 col-sm-4">
                <select ui-select2 ng-model="searchParams.terms" class="param" data-placeholder="Term" multiple>
                    <option ng-repeat="opt in params.terms" ng-value="opt.id">{{opt.name}}</option>
                </select>
            </div>
        </div>
        <div class="row" ng-repeat="course in results.courses">
            <div class="col-xs-12">
                {{course.code}}
            </div>
        </div>
        <div class="row" ng-repeat="teacher in results.teachers">
            <div class="col-xs-12">
                {{teacher.name}}
            </div>
        </div>
    </div>
</div>