<nav class="navbar navbar-default navbar-bossboss" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Boss'Boss</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav pull-left">
                <li ng-class="{active: isActive('/')}"><a href="/" ng-click="hideNav()">Browse</a></li>
                <li ng-class="{active: isActive('/schedule')}"><a href="/schedule" ng-click="hideNav()">Schedule</a></li>
                <li ng-if="currentUser" ng-class="{active: isActive('/compare')}"><a href="/compare" ng-click="hideNav()">Compare</a></li>
                <li ng-class="{active: isActive('/about')}"><a href="/about" ng-click="hideNav()">About</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li ng-hide="currentUser" ng-click="login()" data-toggle="tooltip" data-placement="left" data-title="Sync your schedule across devices and compare with friends!">
                    <a class="btn btn-xs btn-facebook">Connect Facebook</a>
                </li>
                <li class="dropdown" ng-show="currentUser">
                    <a class="dropdown-toggle" data-toggle="dropdown">{{ currentUser.name }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</nav>