<div class="row teacher">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <ul class="pager no-top-margin">
                    <li class="previous"><a href="/"><span class="glyphicon glyphicon-chevron-left"></span>Browse</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <!-- INFO -->
            <div class="col-xs-12 col-md-8 col-md-push-4">
                <div class="row">
                    <!-- TITLE -->
                    <div class="col-xs-12">
                        <h2 ng-if="!teacher.rmp_name" class="text-center no-top-margin">{{teacher.name}}</h2>
                        <h2 ng-if="teacher.rmp_name" class="text-center no-top-margin">{{teacher.rmp_name}}</h2>
                    </div>
                </div>
                <div ng-if="teacher.rmp_quality" class="row text-center">
                    <!-- RATE MY PROFESSOR STUFF -->
                    <div class="col-xs-6 col-sm-3 text-">
                        <!-- Quality -->
                        <div class="row">
                            <h2>{{teacher.rmp_quality}}</h2>
                        </div>
                        <div class="row">
                            <h4>Quality</h4>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <!-- Helpfulness -->
                        <div class="row">
                            <h2>{{teacher.rmp_helpfulness}}</h2>
                        </div>
                        <div class="row">
                            <h4>Helpfulness</h4>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <!-- Clarity -->
                        <div class="row">
                            <h2>{{teacher.rmp_clarity}}</h2>
                        </div>
                        <div class="row">
                            <h4>Clarity</h4>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3">
                        <!-- Easiness -->
                        <div class="row">
                            <h2>{{teacher.rmp_easiness}}</h2>
                        </div>
                        <div class="row">
                            <h4>Easiness</h4>
                        </div>
                    </div>
                </div>
                <!-- FACTS -->
                <div class="row facts">
                <!-- code, credits, notes, subject -->
                    <div class="col-xs-12 col-md-4 text-center">
                        <span class="label label-primary" ng-repeat="class in teacher.classes | unique:'department_name'">{{class.department_name}}</span>
                    </div>
                    <div class="col-xs-6 col-md-4 text-center">
                        <span class="label label-info" ng-repeat="class in teacher.classes | unique:'subject_name'">{{class.subject_name}}</span>
                    </div>
                    <div class="col-xs-6 col-md-4 text-center">
                        <span class="label label-success" ng-repeat="class in teacher.classes | unique:'course_code'">{{class.course_code}}</span>
                    </div>
                </div>

                <!-- Check them out. -->
                <div ng-if="teacher.rmp_quality" class="row text-center">
                    <a ng-href="http://www.ratemyprofessors.com/ShowRatings.jsp?tid={{teacher.rmp_id}}">Check {{teacher.rmp_name}} out on RateMyProfessor!</a>
                </div>
            </div>

            <!-- CLASSES -->
            <div class="col-xs-12 col-md-4 col-md-pull-8 classes-col">
                <h3 class="no-top-margin text-center">Classes</h3>
                <p ng-if="teacher.classes.length === 0" class="text-muted text-center text">No available classes.</p>
                <div class="row class" ng-repeat="class in teacher.classes">
                    <div class="col-xs-2">
                        <div class="row">
                            <div bb-add-course status="{{class.seats_status}}" class="col-xs-6 col-xs-offset-6 col-add-course" ng-click="addClass($index)">

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-10">
                        <div class="row">
                            <div class="col-xs-12">
                                <h5 class="class-header">{{class.course_name}}</h5>
                            </div>
                        </div>
                        <div class="row class-labels">
                            <div class="col-xs-12">
                                <span class="label label-info">{{class.course_code}}-{{class.section}}</span>
                            </div>
                        </div>
                        <div class="row class-labels">
                            <div class="col-xs-12">
                                <span class="label label-success">{{class.teacher_name}}</span>
                            </div>
                            <div class="col-xs-7">
                                <span class="label label-danger">{{class.times | times}}</span>
                            </div>
                        </div>
                        <div class="row class-labels">
                            <div class="col-xs-12">
                                <span class="label label-default">{{class.callnum}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>