
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
        <h1>Boss'Boss</h1>
        <h4>is a Course Discovery and Schedule Creation tool for LA Tech Students</h4>

        <p>
        It has some nifty features that make it better than the existing <a href="http://boss.latech.edu">B.O.S.S.</a> website.
        </p>
        <ol>
            <li><b>Search bar</b> for course discovery</li>
            <ul>
                <li>CourseCode ('ENGR-121')</li>
                <li>Course Number ('121')</li>
                <li>Course Name ('Statics')</li>
                <li>Course Description ('cultural')</li>
                <li>Teacher ('Swanbom')</li>
                <li>Subject ('ENGR', 'biomed')</li>
                <li>Call Number ('31531')</li>
            </ul>
            <li><b>No Session Expiry</b></li>
            <ul>
                <li>In fact, your session is saved automatically. Come back later and your schedule will still be here.</li>
                <li>Like, seriously. If WWIII happens in the middle of your schedule creation, as long as your computer survives, you'll be able to finish your schedule.</li>
            </ul>
            <li>Helps you <b>plan your schedule</b></li>
            <ul>
                <li>Boss'Boss even gives you a calendar display so you can visualize your week.</li>
                <li>GoogleCalendat/iCal exporting coming in the future when I have time.</li>
            </ul>
            <li>Was not made circa 1990</li>
        </ol>


        <h1>Maintainer</h1>
        <p>Boss'Boss was made and is maintained by <a href="http://matt.cond.in">Matt Condon</a></p>
        <p>If something's broken, feel free to email me at <a href="mailto:m@cond.in">m@cond.in</a></p>
        <p>Friend me on <a href="https://www.facebook.com/matthew.condon.376">Facebook</a> if you're into that.</p>
        <p>I also have a <a href="http://twitter.com/MattCMultimedia">Twitter</a> if you're really into that.</p>
        <p>No, I don't have an Instagram.</p>

        <h2>Please enjoy Boss'Boss!</h2>

    </div>
</div>