
<table class="table">
    <tr> <!-- HEADER -->
        <th>Times</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
    </tr>
    <tr> <!-- COLUMNS -->

        <td class="cal-col times-col">
            <div class="col-hour-header" ng-repeat="hour in hours">{{hour}}</div>
        </td>
        <td class="cal-col"></td>
        <td class="cal-col"></td>
        <td class="cal-col"></td>
        <td class="cal-col"></td>
        <td class="cal-col"></td>

    </tr>
</table>