<div class="navbar navbar-bb" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/">Boss'Boss.tk</a>
        </div>
        <div class="navbar-header pull-right">
            <ul class="nav navbar-nav pull-left">
                <li class="la-tech-text"><a href="http://boss.latech.edu">for LA Tech</a></li>
            </ul>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bb-navbar-buttons">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="bb-navbar-buttons">
            <ul class="nav navbar-nav">
                <li><a href="#/">New Schedule</a></li>
                <li><a href="#/schedule">Choose Classes</a></li>
                <li><a href="#/about">About</a></li>
                <!-- <li class="pull-right"><a href="http://boss.latech.edu">for LA Tech</a></li> -->
            </ul>
        </div>

    </div>
</div>