

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <p>Boss'Boss is now showing results for Fall Quarter 2014!</p>
</div>

<div class="col-lg-8 search-results-container">

    <header class="search-header">
        <h3>Find and Select Courses</h3>
        <input type="search" ng-model="searchText" class="form-control" placeholder="Examples: 'ENGR-121', 'Swanbom', 'scuba', '31652'">
        <div class="ajax-loader" ng-show="searchResults.length == 0" ng-hide="noResults">
            <img src="images/ajax-loader.gif">
        </div>
    </header>
    <div>
        <div ng-show="noResults">
            <div class="no-results">No results.</div>
        </div>
        <div class="course-result-container fade-in-out" ng-repeat="course in searchResults">
            <div class="row course-result" ng-click="addCourse($index)">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 plus-sign-container">
                    <div class="plus-sign"><span class="glyphicon glyphicon-plus"></span></div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11 course-result-title">
                    <div class="row">
                        {{course.CourseCode}} - {{course.Course}} - {{course.Subject.Subject}}
                    </div>
                    <div class="row truncate desc-text">
                        <span>{{course.Description}}</span>
                        <span ng-if="course.Description == ''">{{course.Course}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="col-lg-4 selected-courses-container">
    <header>Selected Courses</header>
    <div class="filterBox">
        <input class="form-control" type="search" ng-model="selectedCoursesFilterText" placeholder="Filter">
    </div>
    <div class="selected-courses">
        <div class="fade-in-out" ng-repeat="course in selectedCourses | filter:selectedCoursesFilterText">

            <div class="row selected-course" ng-click="removeCourse($index)">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 minus-sign-container">
                    <div class="minus-sign"><span class="glyphicon glyphicon-minus main-minus-fix"></span></div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                    <span>{{course.CourseCode}} - {{course.Course}}</span>
                </div>
            </div>

        </div>
        <div ng-show="selectedCourses.length == 0">
            <br>
            <p>No Courses Selected Yet...
            Why not add some from the left?</p>
        </div>
        <div ng-show="selectedCourses.length > 0">
            <button class="btn btn-xs btn-danger clear-all-btn pull-right" ng-click="clearAll()">Clear All</button>
            <a href='#/schedule' class="btn btn-lg btn-success choose-schedule-btn">Choose Schedule</a>
        </div>
    </div>
</div>
